fastapi
uvicorn
python-dotenv
langchain
langchain-community
langchain-chroma
langchain-google-genai
langchain-classic
chromadb
unstructured
unstructured-inference
unstructured-pytesseract
pdf2image
pillow
lxml
tiktoken
pi-heif